<!DOCTYPE html>
<script>
  const isSysDark = window.matchMedia('(prefers-color-scheme: dark)');
  if (isSysDark.matches) document.documentElement.setAttribute('theme', 'dark');
  else document.documentElement.setAttribute('theme', 'light');
</script>

<html lang="en" theme="light">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="{{canonical}}" />

    <!-- google analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-15RGG8250F"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-15RGG8250F');
    </script>

    <!-- google tag manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-NCWXM8M');
    </script>

    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/js/index.js" type="module" defer></script>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tertleio" />
    <meta name="twitter:title" content="Tertle Co-Founder Matching - Blog" />
    <meta name="twitter:description" content="The place where solo founders and indie hackers meet their co-founder" />
    <meta name="twitter:image" content="https://tertle.io/assets/features/vetted-founders[dark].jpg" />
  </head>

  <body>
    {{{header}}}
    <div class="container" style="padding-bottom: 0">
      <div class="post-container">
        <h1 class="h2">{{h1}}</h1>

        <div class="post-info">
          <div class="avatar">
            <img
              src="/assets/blog/avatars/ryan-xs.jpg"
              alt="Ryan"
              title="Founder"
            />
            {{author}}
          </div>
          <div>📆 {{date}}</div>
          <div>⏱ {{est}}</div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="container" style="padding-top: 0">
          <main class="post-container">{{{sections}}}</main>
      </div>
    </div>

    {{{footer}}}
  </body>
</html>
